* {
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

.header {
    background-color: #635854 ;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5 ;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    color: #fff ;
    text-decoration: none;
}

.navbar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-right: 30px;
}

.navbar-contacts {
    text-align: right;
    color: #FFF;
    margin-bottom: 4px;
}

.navbar-text {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;  
}

.navbar-phone {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}
